[run]
omit =
    # files to omit from coverage. should be sample files etc
    # */connection_sample.py
    src/housing_unit_inventory/davis2020.py

[report]
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.
